button.btn-menu{
	margin-left: 8px;
}
.modal-dialog.modal-productos{
	max-width: 1000px;
	width: 1000px;	
}

.modal-productos-body{
	background: rgba(230,230,200,1);
}

.div-reset{
	clear:both;
}

.contenedor-producto{
	width: 33%;
	height: 340px;
	float: left;	
}


	div.contenedor-imagen{
		width: 200px;
		margin: auto;
	}

	img.img_catalago{
		float: left;
		transition: all .5s;
	}

	#img1_1{width: 200px; height: 200px; opacity: 1}
	#img1_2{width: 0%;    height: 200px; opacity: 0}

	div.contenedor-imagen:hover #img1_1{		
		width: 0%; opacity: 0;
	}

	div.contenedor-imagen:hover #img1_2{		
		width: 200px; opacity: 1;
	}

	div.div-detalles-producto{
		text-align: center;
	}

	div.div-detalles-costo{
		margin: auto;
	}


button.btn-comprar{
	display: block;
	margin: auto;
}